.container-contact {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow: hidden;
}

.container-title {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-family: "Amatic SC";
  font-size: 45px;
}

.contact-subtitle {
  font-family: "Amatic SC";
  font-size: 30px;
  font-weight: 600;
}

.container-divs-contact {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
}

.contact-card {
  display: flex;
  flex-direction: row;
  height: 160px;
  margin: 40px;
  width: 500px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  animation-duration: 3s;
  animation-name: imageOpacity;
}

.icon {
  width: 100px;
  height: 100px;
}
.container-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-to {
  text-decoration: none;
  font-family: "Amatic SC";
  color: rgb(67, 67, 184);
}

.access:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
  font-size: 25px;
}

.contact-desc {
  font-family: "Amatic SC";
  font-size: 25px;
}

@keyframes imageOpacity {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-divs-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-card {
    display: flex;
    flex-direction: row;
    height: 60%;
    margin: 40px;
    width: 95%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
}
